body {
    /*background-color: #eee;*/
    /*overflow: hidden;*/
    font-family: 'Roboto', sans-serif;
    background-color: #008080;
    color: white;
}

canvas {
    padding: 0;
    /*margin: 16px;*/
    display: block;
    outline: none;
    outline: dotted;
    outline-width: 1px;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

#frames {
    font-family: "Courier"
}